// Dimensions
$prism-height: 350px;
$prism-length: 250px;
$prism-depth: $prism-length;
$spacing: 20px;
$br: 3px;

// Colors
$base-bgcolor: #354152;
$base-color: #7e8ba3;
$text-light: #fff;
$text-dark: #666;
$navy-blue: #42509e;

* {
  box-sizing: border-box;
}

body {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
  background: $base-bgcolor;
  padding: $spacing;
  text-align: center;
}
